@model KvittoViewModel

@{
    ViewData["Title"] = "Kvitto";
}

<h1 class="display-6">Kvitto</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnkomstTid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnkomstTid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UtchecksTid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UtchecksTid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkeringsTid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParkeringsTid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pris)
        </dt>
        <dd class="col-sm-10">
            <p>@Model.Pris.ToString("c")</p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPris)
        </dt>
        <dd class="col-sm-10">
            @Model.TotalPris.ToString("c")
        </dd>
    </dl>
    <div class="row">
        <div class="d-inline-block p-2">
            <form asp-action="Kvitto">
                <a  class="btn btn-success" onclick="window.print()">Skriv ut kvittot</a> 
            </form>
        </div>
        <div class="d-inline-block p-2">
               <a asp-action="Index">Tillbaka till startsida</a>
        </div>
    </div>
</div>