@model StatistikViewModel

@{
    ViewData["Title"] = "Statistik";
}

<h1 class="display-6">Statistik</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntalHjulIGaraget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntalHjulIGaraget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Intakter)
        </dt>
        <dd class="col-sm-10">
            <p>@Model.Intakter.ToString("c")</p>
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenomsnittligParkeradTid)
        </dt>
        <dd class="col-sm-10">
            <p>@Model.GenomsnittligParkeradTid.ToString() Minuter</p>
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AntalBatar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntalBatar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntalBilar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntalBilar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntalBussar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntalBussar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntalFlygplan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntalFlygplan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntalMotorcyklar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AntalMotorcyklar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Tillbaka till startsida</a>
</div> 